/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-may-2017, 12:15:41
    Author     : Alumno IG
*/
input,textarea,button,tr {
	
	border-radius: 10px;
		
}



html{
    background-color: #B8F05B;
    }
img {
    display: block;
    margin: auto;
    }
table,tr,td,th {
    border: 3px
    solid red;
    
    width: 20%;
    height: 8em;
    border-radius: 5%;
    display: block;
    margin: auto;
    background-color: white;
}