
/* 
    Created on : 03-may-2017, 9:15:23
    Author     : Sonia Majado
*/

input,textarea,button,tr {
	
	border-radius: 10px;
		
}



html{
    background-color: #B8F05B;
    }
img {
    display: block;
    margin: auto;
    }
#tabla1{
    border:3px ;
    width: 20%;
    height: 8em;
    border-radius: 5%;
    display: block;
    margin: auto;
    background-color: white;
}
#tabla2 {
    margin-left: 50%;
    text-align: center;
    border: 3px  ;
    border-radius: 5%;
    display: block;
    margin: auto;
    background-color: white;
    width:30%;
    border-collapse: collapse;
    padding: 30px 20px 20px 20px;
}
.lis {
    
    border: 3px  solid #B8F05B;
        border-collapse: collapse;
        
        
}
